@import "./../../styles/variables.scss";

.projects {
  background-color: $primary;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .project {
        font-size: 3rem !important;
    }

  &__label {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
  }
}
