@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  font-family: $Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
