@import "./../../styles/variables.scss";

.skills {
    width: 100%;
    min-height: 5rem;
    color: $dark;
    padding: 1rem;
    display: flex;

    &__label {
        width: 100%;
        text-align: center;

        & h1 {
            font-size: 2rem;
        }
    }

    &__list {
        width: 100%;
        text-align: center;
        padding: 0;
        display: grid;
        list-style: none;
        grid-template-columns: 100%;

        @include breakpoint(md) {
            grid-template-columns: 33% 33% 33%;

        }
    }
}
