@import "./../../styles/variables.scss";

.experiences {
  padding-top: 1rem;
  background-color: $primary;
  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__blocks {
    display: flex;
    flex-direction: column;

    @include breakpoint(md) {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


.bullets__right {
  list-style-position: inside;
}