@import "./../../styles/variables.scss";

.welcome {
  background-color: $primary;
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  height: 51rem;

  @include breakpoint(md) {
    height: 54rem;
  }

  &__container {
    display: flex;
    width: 100%;
    color: $dark;
    justify-content: center;

    &--section {
      display: flex;
      flex-direction: column;

      &__greeting {
        font-size: 4rem;
        text-align: center;

        @include breakpoint(md) {
          font-size: 5rem;
          font-size: 8vw;
        }
      }

      &__name {
        font-size: 1.7rem;

        @include breakpoint(md) {
          font-size: 3rem;
          font-size: 5vw;
        }
      }

      &__role {
        font-size: 0.8rem;

        @include breakpoint(md) {
          font-size: 1rem;
          font-size: 1.5vw;
        }
      }
    }
  }
}
