@import "./../../styles/variables.scss";

.form {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin: auto 1rem;

  @include breakpoint(md) {
    width: 80%;
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & label {
      padding: 1rem;
      padding-left: 0;
      opacity: 0.6;
    }

    & input {
      font-family: inherit;
      border-style: none none solid;
      padding: 1rem;
    }

    & textarea {
      background-color: $light;
      border: 1px solid black;
      border-radius: 0.5rem;
      width: 100%;
      display: block;
      font-family: inherit;
      padding: 1rem;
      resize: none;
    }
  }

  &__submit {
    margin-top: 1rem;
    background-color: rgb(125, 180, 206);
    border: 0;
    font-weight: 700;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: 0.1s;
    cursor: pointer;

    &:hover {
        background-color: rgb(87, 148, 177);
        color: $light;
    }
  }
}
