@import "./../../styles/variables.scss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
        font-size: 1.5rem;
    }
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.options {
    padding: 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}